.cell {
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #000000;
  background-color: #b9b9b9;
  cursor: pointer;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-radius: 2px;
}

.isMine {
  background-color: #ff0000;
}

.cell:hover {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.cell:active {
  background-color: #a8a8a8;
}

.mine {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0px;
  left: 0px;
}
