.field {
  display: grid;
  margin-top: 10px;
}

.first {
  grid-template-columns: repeat(8, fit-content(10px));
}

.second {
  grid-template-columns: repeat(16, fit-content(10px));
}

.third {
  grid-template-columns: repeat(32, fit-content(10px));
}

.fieldBlock {
  pointer-events: none;
}
