.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.gap {
  display: flex;
  gap: 10px;
}

.toSettingsButton,
.restartButton {
  display: inline-block;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  background-color: #cfcfcf;
}

.toSettingsButton:hover,
.restartButton:hover {
  background-color: #dcdada;
}

.count {
  background-color: #766d6d;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  color: #fff8dc;
}
